@media only screen and (max-width: 992px) {
   .nft_title {
    font-size: 0.8rem !important;
   }

   .creator_info h6{
    font-size: .6rem !important;
   }
   .creator_info p{
    font-size: .7rem !important;
   }

   .bid_btn {
    padding: 4px 20px !important;
    font-size: 0.6 rem !important;
   }

   .history_link a {
    font-size: 0.6rem !important;
   }
}

/* extra */

.single_nft_card {
   padding: 20px;
   background:#343444;
   border-radius: 10px;
}
.nft_img img{
   border-radius: 10px;
}

.nft_img {
   margin-bottom: 10px;
}
.nft_title{
   margin-bottom: 15px;
}

.nft_title a{
   color: #fff;
   font-size: 1rem;
   text-decoration: none;
}
.nft_title a:hover{
   color: #fff;
}
.creator_img{
   width: 40px;
   height: 40px;
}

.creator_info h6 {
   font-size: .7rem;
   color: #fff;
   opacity: 80%;
   margin-bottom: 0;
   font-weight: 300;
}
.creator_info p {
   font-size: .9rem;
   color: #fff;
   margin-bottom: 0;
   opacity: 100%;
   font-weight: 500;
}
.bid_btn {
   border: none;
   outline: none;
   padding: 5px 22px;
   background: transparent;
   border: 1px solid#5142FC;
   font-size: .9rem;
   color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    background: #5142FC;
    text-decoration: none;
}
.nft_view_bt a{
  text-decoration: none;
}
.bid_btn:hover{
   background: #fff;
   color: #5142FC;
   text-decoration: none;
}
.history_link a {
   text-decoration: none;
    color: #fff;
    opacity: 85%;
    font-size: 0.9rem;
}
.history_link a:hover {
    color: #fff;
}

.live_auction_top h3{
   color: #fff;
}
.live_auction_top span a{
   text-decoration: none;
   color: #fff;
   border-bottom: 1px solid #5142FC;
}